{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<a href="{{@blog.url}}" class="read-more"><i class="el el-caret-left read-more"></i> home</a>
<hr>
{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
    <main role="main">
        <article class="row {{post_class}}">
            <header class="col-xs-12">
                <div class="col-md-10 no-margin no-padding post">
                    <h1 class="title">{{title}}</h1>
                </div>
                <div class="col-md-2">
                    {{#if feature_image}}
                        <img src="{{feature_image}}" class="post-image"/>
                    {{/if}}
                </div>
            </header>
            <section class="col-xs-12">
                {{content}}
            </section>
            <footer class="col-xs-12 author">
                <hr>
            </footer>
        </article>
    </main>
{{/post}}
